html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin : 0;
    padding : 0;
}


#content {
    position : relative;
    max-width : 720px;
    margin: auto;
    padding : 20px 15px 15px;
}


#topic-title {
    padding-bottom : 10px;
    margin-bottom : 10px;
    border-bottom : 1px solid #e7e7eb;
    line-height : 1.4;
    font-size : 24px;
    font-weight : 400;
}

#author {
    position : relative;
    z-index : 1;
    margin-bottom : 10px;
    line-height : 20px;
 }

 #date {
    display : inline-block;
    vertical-align : middle;
    margin-right : 8px;
    margin-bottom : 10px;
    font-size : 16px;
    font-style : normal;
    color : #8c8c8c;
}


#author-name {
    display : inline-block!important;
    vertical-align : middle;
    margin-right : 8px;
    margin-bottom : 10px;
    font-size : 16px;
    color : #607fa6;
    text-decoration : none;
}

.section {
    margin-left : 1em;
    margin-right : 1em;
    margin: auto;
    box-shadow : 3px 3px 8px #888888;
    background-color : #fff;
    padding-bottom : 20px;
    margin-bottom : 20px;

}

.image {
    width : 100%;
    margin: auto;
}

.note {
    text-indent : 20px;
    font-size : 16px;
    padding-top : 10px;
    padding-right: 10px;
    padding-right: 10px;
}

img {
    width : 100%;
}


#leader-note {
    font-size : 16px;
    padding-bottom : 20px;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 24px;

}
